.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.tech-container{
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-container > h3{
  text-align: left;
}



.tech-col{
  display: flex;
  align-items: center;
  flex-direction: column;

}


